.page-header {
  padding: 20px;
  margin-bottom: 10px;
  h2 {
    font-weight: 700px;
    padding: 6px 0px;
    line-height: 40px;
    font-size: 36px;
    color: black;
  }
  p {
    font-size: 14px;
    line-height: 1.43;
    color: black;
  }
}
.data-block {
  border-top: 1px dotted #000;
  padding: 10px 0px;
}
